body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: hsl(240 10% 3.9%);
    color: #fff;
}

button, .button {
    color: #000;
    text-decoration: none;
    background-color: #fff;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid #000;
    margin-inline: 0.5em;
}

.error {
    color: red;
    font-size: 0.8em;
}

.muted {
    color: hsl(215.4 16.3% 46.9%);
}

.destructive {
    border: 1px solid black;
    font-weight: bold;
    background-color: hsl(0 100% 50%);
    color:hsl(210 40% 98%);
}